<ion-view>
    <ion-header-bar class="bar-balanced">
        <h1 class="title">Your Name</h1>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search" ng-model="search">
            </label>
        </div>
        <div class="list">
            <div ng-repeat="name in nameoption | orderObjectBy:'rollno':false | filter:search">
                <a class="item item-icon-left" ng-click="setroll(name.rollno,name.uid)" ui-sref="attDetails">
                    <i class="icon " ng-class="{ 'ion-woman': name.gender=='f', 'ion-man': name.gender=='m' }"></i>{{name.name}}
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>