<ion-view title="Notifications">
    <ion-nav-buttons side="primary">
        <button class="button button-icon ion-trash-b" ng-click="clear()" ng-if="newNotification.length>0||readNotification.length>0">
            Clear All
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="item item-divider">New Notifications</div>
        <p class="item assertive" ng-if="newNotification.length==0">No new Notifications*</p>
        <div class="card" ng-repeat="item in newNotification | reverse">
            <div class="item item-divider">
                {{item.title}}
            </div>
            <div class="item item-text-wrap">
                {{item.message}}
            </div>
            <div class="item item-divider right positive">
                {{item.date}}
            </div>
        </div>
        <div class="item item-divider">Older Notifications</div>
        <p class="item balanced" ng-if="readNotification.length==0">You do not have any older Notifcations</p>
        <div class="card" ng-repeat="item in readNotification | reverse">
            <div class="item item-divider">
                {{item.title}}
            </div>
            <div class="item item-text-wrap">
                {{item.message}}
            </div>
            <div class="item item-divider right positive">
                {{item.date | date:'medium'}}
            </div>
        </div>
    </ion-content>
</ion-view>