<ion-modal-view class="ion-nifty-modal">
    <ion-header-bar class="bar bar-header bar-assertive">
        <h1 class="title">Register for notifications</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
          <div class="item item-input-inset item-borderless">
            <label class="item-input-wrapper">
              Name:
              <input type="text" ng-model="registerData.name" required>
            </label>
          </div>
          <pick-list model="registerData.dept" list="deptOptions" heading="'Department'" required></pick-list>
          <pick-list model="registerData.year" list="yearOptions" heading="'Year'" required></pick-list>
          <button class="button button-block button-positive" ng-click="registerData.confirm()" ng-disabled="registerData.dept==null||registerData.year==null">Register</button>
        </div>
    </ion-content>
</ion-modal-view>
