<ion-modal-view class="ion-nifty-modal">
    <ion-header-bar class="bar bar-header bar-balanced">
        <h1 class="title">Notification For</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <label class="item-input-wrapper" style="padding:5px">
                    
                    Your Name : 
                    <input type="text"  style="width: 100%" ng-model="registerData.name" required>
                </label>
            <pick-list model="registerData.dept" list="deptOptions" heading="'Department'" required></pick-list>
            <pick-list model="registerData.year" list="yearOptions" heading="'Year'" required></pick-list>
            <button class="button button-full button-balanced" ng-click="registerData.confirm()" ng-disabled="registerData.dept==null||registerData.year==null">Register</button>
        </div>
    </ion-content>
</ion-modal-view>