<ion-view>
    <ion-header-bar class="bar-balanced">
        <h1 class="title">Options</h1>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <a class="item item-icon-left" ui-sref="nameList">
                <div style="height:30% width:auto"></div>Get Your Attendance Details
                <i class="icon ion-stats-bars"></i>
            </a>
            <a class="item item-icon-left" ui-sref="subList">
                <div style="height:30% width:auto"></div>Check Topics Covered
                <i class="icon ion-clipboard"></i>
            </a>
            <a class="item item-icon-left" ui-sref="timetable">
                <div style="height:30% width:auto"></div>View Timetable
                <i class="icon ion-calendar"></i>
            </a>
        </div>
    </ion-content>
</ion-view>