<ion-view title="Choose a subject">
    <ion-content class="padding">
        <div class="list">
            <div class="item item-icon-left item-divider">Theory
                <i class="icon ion-compose"></i>
            </div>
            <div ng-repeat="sub in suboption| filter: { theory: 'true' }">
                <a class="item " ng-click="settsub(sub)" ui-sref="topicDetails">
                    {{sub.name}}
                </a>
            </div>
            <div class="item item-icon-left item-divider">Practical
                <i class="icon ion-paintbucket"></i>
            </div>
            <div ng-repeat="sub in suboption| filter: { practical: 'true' }">
                <a class="item " ng-click="setpsub(sub)" ui-sref="batchOption">
                    {{sub.name}}
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
