<ion-view title="Timetable">
  <ion-content>
    <div class="list">
      <div class="item item-divider-android item-borderless">Uploaded timetables</div>
      <div class="item" ng-repeat="tt in ttImages" ng-click="showTt(tt)">Timetable <span class="item-note">{{tt.time | date:'dd MMMM, yyyy'}}</span></div>
    </div>
    <div class="bar bar-footer">
      <button class="button button-block button-assertive col-center" ng-click="actionSheet()">Upload</button>
    </div>
  </ion-content>
</ion-view>
